[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = daneorie
	email = 588451+daneorie@users.noreply.github.com
[alias]
	s = status
	co = checkout
	cob = checkout -b
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = log --oneline --decorate --graph
	aliases = "!git config --list | grep '^alias\\.' | cut -c 7- | sed 's/=/ = /' | grep --color=always '^[^ ]* = '"
	show-conflicts = diff --name-only --diff-filter=U --relative
	edit-conflicts = "!nvim $(git show-conflicts)"
	resolve-conflicts = "!git add $(git show-conflicts)"
[push]
	autoSetupRemote = true
[pull]
	rebase = false
