[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = daneorie
	email = 588451+daneorie@users.noreply.github.com
[alias]
	s = status
	co = checkout
	cob 
	del = branch -D
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = log --oneline --decorate --graph
	show-conflicts = diff --name-only --diff-filter=U --relative
	edit-conflicts = !nvim $(git show-conflicts)
	resolve-conflicts = !git add $(git show-conflicts)
[push]
	autoSetupRemote = true
[pull]
	rebase = false
