    {:des "Colemak Layout with Offset Home Row Mods"
     :rules [
        [:##q :left_control nil {:alone :##q}]
        [:##w :left_option nil {:alone :##w}]
        [:##e :left_command nil {:alone :##f}]
        [:##r :left_shift nil {:alone :##p}]
        [:##t :g]
        [:##y :j]
        [:##u :right_shift nil {:alone :##l}]
        [:##i :right_command nil {:alone :##u}]
        [:##o :right_option nil {:alone :##y}]
        [:##p :right_control nil {:alone :##semicolon}]
        [:##s :r]
        [:##d :s]
        [:##f :t]
        [:##g :d]
        [:##j :n]
        [:##k :e]
        [:##l :i]
        [:##semicolon :o]
        [:##n :k]
        [:##caps_lock :delete_or_backspace]
        [:##delete_or_backspace :caps_lock]
      ]
     }
