    ;;
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;; | ` |F1 |F2 |F3 |F4 |F5 |F6 |F7 |F8 |F9 |F10|F11|F12| caps|  ;; |   |F1 |F2 |F3 |F4 |F5 |F6 |F7 |F8 |F9 |F10|F11|F12|     |  ;;   `  F1  F2  F3  F4  F5  F6  F7  F8  F9  F10 F11 F12  caps
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;; |esc  | ! | @ | { | } | | | % | 7 | 8 | 9 | * | [ | ] | \ |  ;; |esc  | ! | @ | { | } | | | % | 7 | 8 | 9 | * |   |   |   |  ;;  esc    !   @   {   }   |   %   7   8   9   *   [   ]   \
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;; |delete| = | $ | ( | ) | ` | & | 4 | 5 | 6 | - | ' | enter|  ;; |      | = | $ | ( | ) | ` | & | 4 | 5 | 6 | - | ' |      |  ;;  delete  =   $   (   )   `   &   4   5   6   -   '   enter
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;; |shift   | # | ^ | [ | ] | , |sp.| 1 | 2 | 3 | \ |   shift|  ;; |        | # | ^ | [ | ] | , |sp.| 1 | 2 | 3 | \ |        |  ;;  shift     #   ^   [   ]   ,  sp.  1   2   3   \     shift
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;; |fn|ctrl|opt|cmd |       space       | 0  |meh|     arrows|  ;; |  |    |   |    |       space       | 0  |   |           |  ;;  fn ctrl opt cmd         space         0   meh      arrows
    ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;; –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  ;;
    ;;

    {:des "SpaceFN: Space+<key> to match Moonlander Symbol-layer setup (https://configure.zsa.io/moonlander/layouts/BPZEx/latest/1)"
     :rules [:space-mode
        ;; this is defined before Colemak due to limitations, so I'll note the Colemak keys
        ;[:##grave_accent_and_tilde :grave_accent_and_tilde]    ;; `     -> `
        [:##1 :f1]                                             ;; 1     -> F1
        [:##2 :f2]                                             ;; 2     -> F2
        [:##3 :f3]                                             ;; 3     -> F3
        [:##4 :f4]                                             ;; 4     -> F4
        [:##5 :f5]                                             ;; 5     -> F5
        [:##6 :f6]                                             ;; 6     -> F6
        [:##7 :f7]                                             ;; 7     -> F7
        [:##8 :f8]                                             ;; 8     -> F8
        [:##9 :f9]                                             ;; 9     -> F9
        [:##0 :f10]                                            ;; 0     -> F10
        [:##hyphen :f11]                                       ;; -     -> F11
        [:##equal_sign :f12]                                   ;; =     -> F12
        ;[:##delete_or_backspace :delete_or_backspace]          ;; BS    -> BS
        [:##tab :escape]                                       ;; TAB   -> ESCAPE
        [:##q :!S1]                                            ;; q     -> !
        [:##w :!S2]                                            ;; w     -> @
        [:##e :!Sopen_bracket]                                 ;; f     -> {
        [:##r :!Sclose_bracket]                                ;; p     -> }
        [:##t :!Sbackslash]                                    ;; g     -> |
        [:##y :!S5]                                            ;; j     -> %
        [:##u :7]                                              ;; l     -> 7
        [:##i :8]                                              ;; u     -> 8
        [:##o :9]                                              ;; y     -> 9
        [:##p :!S8]                                            ;; ;     -> *
        ;[:##open_bracket :open_bracket                        ;; [     -> [
        ;[:##close_bracket :close_bracket                      ;; ]     -> ]
        ;[:##backslack :backslash]                              ;; \     -> \
        [:##caps_lock :!Odelete_or_backspace]                   ;; CAPS  -> DTWRD
        [:##a :equal_sign]                                     ;; a     -> =
        [:##s :!S4]                                            ;; r     -> $
        [:##d :!S9]                                            ;; s     -> (
        [:##f :!S0]                                            ;; t     -> )
        [:##g :grave_accent_and_tilde]                         ;; d     -> `
        [:##h :!S7]                                            ;; h     -> &
        [:##j :4]                                              ;; n     -> 4
        [:##k :5]                                              ;; e     -> 5
        [:##l :6]                                              ;; i     -> 6
        [:##semicolon :hyphen]                                 ;; o     -> -
        ;[:##apostrophe :apostrophe]                            ;; '     -> '
        ;[:##return_or_enter :return_or_enter]                  ;; RET   -> RET
        ;[:##left_shift :left_shift]                            ;; LSHFT -> LSHFT
        [:##z :!S3]                                            ;; z     -> #
        [:##x :!S6]                                            ;; x     -> ^
        [:##c :open_bracket]                                   ;; c     -> [
        [:##v :close_bracket]                                  ;; v     -> ]
        [:##b :comma]                                          ;; b     -> ,
        [:##n :spacebar]                                       ;; k     -> SPACE
        [:##m :1]                                              ;; m     -> 1
        [:##comma :2]                                          ;; ,     -> 2
        [:##period :3]                                         ;; .     -> 3
        [:##slash :backslash]                                  ;; /     -> \
        ;[:##right_shift :right_shift]                          ;; RSHFT -> RSHFT
        ;[:##fn :fn]                                            ;; FN    -> FN
        ;[:##left_control :left_control]                        ;; LCTRL -> LCTRL
        ;[:##left_option :left_option]                          ;; LOPT  -> LOPT
        ;[:##left_command :left_command]                        ;; LCMD  -> LCMD
        ;[:##space :space]                                      ;; SPACE -> SPACE
        [:##right_command :0]                                  ;; RCMD  -> 0
        ;[:##right_option :right_option]                        ;; ROPT  -> ROPT
        ;[:##right_control :right_control]                      ;; RCTRL -> RCTRL
        ;[:##up_arrow :up_arrow]                                ;; UP    -> UP
        ;[:##down_arrow :down_arrow]                            ;; DOWN  -> DOWN
        ;[:##left_arrow :left_arrow]                            ;; LEFT  -> LEFT
        ;[:##right_arrow :right_arrow]                          ;; RIGHT -> RIGHT
     ]
    }
